html{
    background-color: black;
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1800px;
    font-family: Roboto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #1f2937;
    color: white;
    padding: 20px 190px;
    
}

#left-links, #right-links{
    display: flex;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

#left-links{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

#right-links{
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    gap: 20px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 120px 190px;
}

#hero-left{
    flex: 1;
}

#hero-left button{
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
}

#hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-right img{
    width: 500px;
    height: 250px;
    background-color: gray;
}

#hero-main-text{
    font-size: 48px;
    font-weight: 900;
}

#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.info{
    text-align: center;
    padding: 60px 265px;
    background-color: white;
}

#info-top{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

#info-cards{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: gray;
}

#info-cards img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: gray;
    border: 5px solid #3882F6;
    margin-bottom: 10px;
}

.quote{
    padding: 80px 265px;
    background-color: #E5E7EB;
}

#quote-top{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote-bottom{
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.cta{
    padding: 80px 0px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#cta-header{
    font-size: 24px;
    font-weight: bold;
}

#container{
    display: flex;
    background-color: #3882F6;
    color: white;
    padding: 40px 80px;
    width: 850px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 250px;
}

#container button{
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: white solid 2px;
    padding: 10px 20px;
    margin-top: 10px;    
}

.footer{
    padding: 30px 150px;
    background-color: #1f2937;
    color: white;
    text-align: center;
}